.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: white;
    margin: 0;
    padding: 0 20px;
}
.main-header{
    height: 80px;
}
 .link{
    border: 0;
    background-color: white;
    padding:10px 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
.active, .link:hover{
    color:#52C41A;
    border: 1px solid #52C41A;
    border-radius: 5px;
}
.button-container{
    display: flex;
   align-items: center;
}
.link-sm{
    font-size: 14px;
}
.logout{
    border: 1px solid black;
    border-radius:5px ;
    color: black;
    margin-bottom: 10px;
}
.author-cont{
    display: flex;
    align-items: center;

}
.name{
    margin-right: 10px;
}
.link-auth{
    padding: 5px 10px;
}
.avatar{
    border-radius: 100%;
}